.dsc-btn {
  border-radius: 4px;
  height: 42px;
  font-size: 16px;
  font-weight: 700;
  background-color: var(--dsc-color-btn-primary);
  color: var(--dsc-color-btn-inverse);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
}

.dsc-btn:hover {
  background-color: var(--dsc-color-btn-inverse);
  color: var(--dsc-color-btn-primary);
  border: 1px solid var(--dsc-color-btn-primary);
}
